#btt{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(165, 94, 13);
}

*{
    margin: 0;
    
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-color: rgb(104, 36, 19); 
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;

}


img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid;
    margin: 10px;
}


#d, #e , #f{
text-decoration: none;
color: rgb(34, 47, 58);
}

#a , #b , #c{
text-decoration: none;
}


.list{
    display: flex;
    justify-content: center;
    background-color: rgb(124, 121, 116);
    padding: 15px;
}

ul{
    display: flex;
    gap: 50px;
}

li{
    list-style: none;
    font-size: 25px;
   transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);

}

li:hover{
    transform: scale(1.2);
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

video {
  width: 1000px;
  max-width: 90%;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
